.birthday {
    &-block {
        display: flex;
        &__date {
            display: flex;
            flex-direction: column;
            font-family: "Muller", sans-serif;
            font-size: 18px;
            font-weight: bold;
            color: @middle-grey;
            margin-right: 45px;
            line-height: 20px;
            max-width: 35px;
            &-day {
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &-month {
                overflow: hidden;
            }
        }
        &__text {
            width: calc(~"100% - 250px");
            margin-right: 20px;
            &-title {
                font-family: "Muller", sans-serif;
                font-size: 16px;
                font-weight: bold;
                color: @middle-grey;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &-post {
                opacity: 0.5;
                font-family: "Muller", sans-serif;
                font-size: 13px;
                color: @middle-grey;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &__geopos {
            flex: 0 0 150px;
            font-family: "Muller", sans-serif;
            font-size: 13px;
            font-weight: normal;
            width: 150px;
            display: flex;
            align-items: center;
            max-width: 150px;
            &-text {
                overflow: hidden;
                text-overflow: ellipsis;
            }
            & .fas {
                margin-right: 6px;
            }
        }
    }
}