.button {
    &__all-news {
        width: 250px;
        background-color: @dark-green;
        font-family: "MullerRegular", sans-serif;
        font-size: 18px;
        color: #fff;
        text-transform: uppercase;
        border: none;
        padding: 13px 20px 12px 20px;
        line-height: 22px;
        margin-top: 35px;
        transition: all 0.2s ease;
        &:hover {
            background-color: @light-green;
        }
    }
}