.contacts {
    margin-top: 30px;
    font-family: "Muller", sans-serif;
    &__title {
        font-size: 18px;
        font-weight: 500;
    }
    &__desc {
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 30px;
    }
    &__table {
    }
    &__user {
        &-info {
            display: flex;
        }
        &-link {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            margin: 12px 15px 12px 5px;
        }
        &-text {
            display: flex;
            flex-direction: column;
            padding: 12px 15px 12px 0;
            justify-content: center;
        }
        &-post {
            font-size: 12px;
            font-weight: 300;
            line-height: 16px;
            color: @middle-grey;
            text-decoration: none;
            transition: color 0.15s ease;
            &:hover {
                color: @dark-green;
                text-decoration: none;
            }
        }
        &-manager {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 12px 15px 12px 0;
        }
        &-department {
            font-size: 14px;
            font-weight: normal;
            line-height: 18px;
            color: @middle-grey;
            text-decoration: none;
            transition: color 0.15s ease;
            &:hover {
                color: @dark-green;
                text-decoration: none;
            }
        }
        &-chief {
            font-size: 12px;
            font-weight: 300;
            line-height: 16px;
            color: @middle-grey;
            text-decoration: none;
            transition: color 0.15s ease;
            &:hover {
                color: @dark-green;
                text-decoration: none;
            }
        }
        &-location {
            font-size: 14px;
            font-weight: normal;
            color: @middle-grey;
            text-decoration: none;
            transition: color 0.15s ease;
            &:hover {
                color: @dark-green;
                text-decoration: none;
            }
        }
        &-phone {
            font-size: 14px;
            font-weight: normal;
            color: @middle-grey;
            text-decoration: none;
            transition: color 0.15s ease;
            &:hover {
                color: @dark-green;
                text-decoration: none;
            }
        }
        &-email {
            color: @blue2;
            font-size: 14px;
            font-weight: normal;
            text-decoration: none;
            transition: color 0.15s ease;
            &:hover {
                color: @dark-green;
                text-decoration: none;
            }
        }
        &-skype {
            color: @blue2;
            font-size: 14px;
            font-weight: normal;
            text-decoration: none;
            transition: color 0.15s ease;
            &:hover {
                color: @dark-green;
                text-decoration: none;
            }
        }
    }
    & .dataTables {
        &_info {
            font-size: 15px;
        }
        &_empty {
            padding: 30px 0;
        }
        &_filter {
            & input {
                min-width: 350px;
                margin-bottom: 20px;
                position: relative;
                font-family: "Muller", sans-serif;
                font-weight: normal;
                font-size: 14px;
                height: 34px;
                padding: 6px 12px;
                line-height: 1.4;
                color: lighten(@middle-grey, 50%);
                vertical-align: middle;
                background-color: #fff;
                background-image: none;
                border-radius: 4px !important;
                border: 1px solid @middle2-grey;
                min-width: 250px;
                box-shadow: none;
                outline: none;
                transition: all 0.15s ease-in-out;
                &:focus {
                    border: 1px solid @dark-green;
                    outline: 0px;
                    box-shadow: none;
                }
            }
        }
        &_length {
            margin-top: 30px;
            font-size: 15px;
            & select {
                font-size: 15px;
                margin: 0 5px 0 10px;
            }
        }
        &_length {
            display: flex;
            align-items: center;
        }
        &_paginate {
            margin-top: 30px !important;
            & .pagination > .active > a,
            & .pagination > .active > span,
            & .pagination > .active > a:hover,
            & .pagination > .active > span:hover,
            & .pagination > .active > a:focus,
            & .pagination > .active > span:focus {
                color: #fff;
                background-color: @dark-green;
                border: 1px solid @middle2-grey;
                outline: none;
            }
            & .pagination > .disabled > span,
            & .pagination > .disabled > span:hover,
            & .pagination > .disabled > span:focus,
            & .pagination > .disabled > a,
            & .pagination > .disabled > a:hover,
            & .pagination > .disabled > a:focus {
                color: @middle-grey;
                cursor: not-allowed;
                background-color: #fff;
                border: 1px solid @middle2-grey;
                outline: none;
            }
            & .pagination > li > a,
            & .pagination > li > span {
                color: @middle-grey;
                outline: none;
            }
        }
    }
    & #contacts {
        & th {
            font-size: 15px;
            font-weight: 500;
            padding-bottom: 16px;
            border-bottom: 2px solid @middle4-grey;
        }
        & td {
            border-bottom: 2px solid @middle4-grey;
        }
        & thead .sorting_asc::after {
            content: none;
        }
        & thead .sorting:after {
            content: none;
        }
    }
}