.footer {
    font-family: "Muller", sans-serif;
    margin: 100px 0 20px 0;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 300;
    &__copyright {
        & a {
            color: @dark-green;
        }
    }
}