.input {
    font-family: "Muller", sans-serif;
    font-weight: normal;
    font-size: 14px;
    height: 34px;
    padding: 6px 15px !important;
    line-height: 1.5;
    color: lighten(@middle-grey, 50%) !important;
    vertical-align: middle;
    background-color: #fff !important;
    background-image: none;
    border-radius: 4px !important;
    border: 1px solid @middle2-grey !important;
    min-width: 250px;
    box-shadow: none;
    outline: none;
    transition: all 0.15s ease-in-out;
    &:focus {
        border: 1px solid @dark-green !important;
        outline: 0px;
        box-shadow: none;
    }
    &_news {
    }
    &_documents {
    }
    &_custom-file {
        position: relative;
        z-index: 2;
        width: 100%;
        margin: 0;
        opacity: 0;
        &-label {
            display: flex;
            align-items: center;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: 34px;
            z-index: 1;
            padding: 1px 15px 0 15px;
            color: lighten(@middle-grey, 50%);
            background-color: #fff;
            border: 1px solid @middle2-grey;
            border-radius: 3px;
            &:after {
                font-family: "Muller", sans-serif;
                font-weight: normal;
                font-size: 14px;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 3;
                display: flex;
                align-items: center;
                padding: 1px 15px 0 15px;
                color: @middle-grey;
                background-color: @middle4-grey;
                border-left: 1px solid @middle2-grey;
                border-radius: 0 3px 3px 0;
                content: "Прикрепить файл";
            }
        }
    }
    &_popup {
        &-friend {
            &-fio,
            &-vacancy {
                margin-bottom: 10px;
            }
            &-email,
            &-phone {
                margin-right: 10px;
                flex: 1;
            }
            &-skype {
                flex: 1;
            }
            &-file {
                margin-bottom: 10px;
                width: 100%;
                outline: 0px;
            }
        }
    }
    &__email,
    &__pass {
        width: 100%;
        padding-right: 40px;
    }
}