.wrapper {
    margin-top: 60px;
    &_block {
        &-white {
            background-color: #fff;
        }
        &-lightgrey {
            background-color: @light-grey;
        }
    }
    &__overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.7);
        z-index: 2000;
        display: none;
        //opacity: 0;
        &.active {
            display: block;
        }
    }
}
.container {
    &__slider {
        padding: 50px 0;
    }
    &__news {
        padding: 50px 0;
    }
    &__media {
        padding: 100px 0 0 0;
    }
    &__doc {
        padding: 100px 0 70px 0;
    }
}
@media (max-width: 767px) {
    .block-news, .block-news_light {
        margin-bottom: 50px;
    }
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
    .block-news, .block-news_light {
        margin-bottom: 50px;
    }
    .block-news__title {
        & a {
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
        }
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
    .block-news__title {
        & a {
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
        }
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
    .block-news__title {
        & a {
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
        }
    }
}

