.navbar {
    display: flex;
    height: 60px;
    padding: 10px 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
    justify-content: space-between;
    clear: both;
    &__left-block {
        display: flex;
    }
    &__right-block {
        display: flex;
    }
    &__logo {
        flex: 0 0 163px;
        position: relative;
        align-items: center;
        display: flex;
    }
    &__menu {
        display: flex;
        align-items: center;
        margin-left: 80px;
        &-list {
            display: flex;
            & li {
                margin-right: 30px;
                & a {
                    font-family: "Muller", sans-serif;
                    font-weight: 500;
                    font-size: 16px;
                    text-transform: uppercase;
                    color: @middle-grey;
                    transition: color 0.15s ease;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    &:hover {
                        color: @dark-green;
                        text-decoration: none;
                    }
                    & i {
                        margin-right: 5px;
                        color: @middle-grey;
                    }
                    & span {
                        display: inline;
                    }
                }
                &:last-child {
                    margin-right: 0px;
                }
            }
        }
    }
    &__search {
        border-right: 2px solid @light4-grey;
        display: flex;
        align-items: center;
        padding-right: 25px;
        position: relative;
        &-input {
            font-size: 18px;
            display: inline-block;
            font-weight: 300;
            border: none;
            outline: none;
            outline-offset: 0;
            color: @middle-grey;
            padding: 3px;
            padding-right: 60px;
            width: 0px;
            height: 30px;
            position: absolute;
            top: 5px;
            right: 30px;
            background: none;
            z-index: 3;
            transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
            cursor: pointer;
            background-color: transparent;
            &:focus {
                width: 250px;
                z-index: 1;
                border-bottom: 1px solid lighten(@middle-grey, 50%);
                cursor: text;
                background-color: #fff;
                &:hover {
                    border-bottom: 1px solid lighten(@middle-grey, 50%);
                }
            }
            &-submit {
                content: "\f3ee";
                font-family: 'Font Awesome 5 Free';
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                background-color: transparent;
                line-height: 1;
                font-size: 18px;
                height: 30px;
                width: 30px;
                color: @middle-grey;
                text-indent: -10000px;
                border: none;
                position: absolute;
                top: 5px;
                right: 30px;
                z-index: 2;
                cursor: pointer;
                opacity: 0.4;
                transition: opacity .4s ease;
                outline: none;
                outline-offset: 0;
                &:hover {
                    opacity: 1;
                }
            }
        }
        & .fas {
            font-size: 16px;
            color: @middle3-grey;
            right: 37px;
            position: absolute;
            top: 12px;
            z-index: 2;
        }
        &-form {
            border: 1px solid @middle2-grey;
            border-radius: 30px;
            height: 24px;
            width: 260px;
        }
        &-button {
            position: absolute;
            border-radius: 20px;
            color: #e8e8e8;
            border: 1px solid #e8e8e8;
            width: 18px;
            height: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            right: 28px;
            font-size: 10px;
        }
    }
    &__user {
        display: flex;
        margin-left: 25px;
        justify-content: flex-end;
        &-block {
            color: @middle-grey;
            font-family: "Muller", sans-serif;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
        }
    }
    &:before, &:after {
        content: none;
        display: block;
    }
}