input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: @middle2-grey;
    font-family: "Muller", sans-serif;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: @middle2-grey;
    font-family: "Muller", sans-serif;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    /* IE 10+ */
    color: @middle2-grey;
    font-family: "Muller", sans-serif;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
    /* Firefox 18- */
    color: @middle2-grey;
    font-family: "Muller", sans-serif;
}
input::placeholder,
textarea::placeholder {
    color: @middle2-grey;
    font-family: "Muller", sans-serif;
    transition: all 0.3s ease;
    opacity: 1;
    &:focus {
        opacity: 0;
    }
}