input::placeholder,
textarea::placeholder {
    color: @middle2-grey;
    opacity: .75;
    transition: opacity 0.15s ease;
    font-weight: 100;
    font-size: 14px;

}
input:focus,
textarea:focus {
    &::placeholder {
        opacity: 0;
    }
}