.user-post {
    font-size: 14px;
    &_navbar {
        font-weight: 300;
        line-height: 18px;
    }
    &_contacts {
        font-size: 12px;
        font-weight: 300;
        line-height: 16px;
        color: @middle-grey;
        text-decoration: none;
        transition: color 0.15s ease;
        &:hover {
            color: @dark-green;
            text-decoration: none;
        }
    }
}